<p-sidebar #sidebarRef [(visible)]="this.service.sidebarVisible" position="right" [closeOnEscape]="true" (onHide)="setSidebar()">
    <ng-template pTemplate="header">
        <div class="title-sidebar">
            <h2>Last Generated Examples</h2>
        </div>
    </ng-template>
    <div class="sidebar-content">
        <div *ngIf="hasExamples" class="most-recent">Most Recent</div>
        <div *ngIf="!hasExamples" class="no-examples">
            <i class="pi pi-info-circle" style="display: flex; justify-content: center;"></i>
            <div style="display: flex; justify-content: center;">Empty History</div>
        </div>
        <div *ngFor="let exemple of exemplesReversed" class="column">        
            
                <div class="row" (click)="returnExemple(exemple)">
                    <div class="column">
                        <div class="row-2">
                            <div>{{exemple.sequence}}</div>
                            <i (click)="removeExemple(exemple)" class="pi pi-trash"></i>
                        </div>
     
                        <div class="row-3">
                          
                            
                                <div class="box" [style.background-color]="exemple.first"></div>
                                <div class="box" [style.background-color]="exemple.second"></div>
                        
                        </div>
                       
                    </div>
                </div>
        </div>
                
    </div>
</p-sidebar>