
.title-sidebar{
    font-family: 'Montserrat';
    font-size: 25px;
}

.sidebar-content{
    margin: 2px;
}

.row:hover{
    box-shadow: 0px 0px 15px 5px rgba(44, 44, 44, 0.158);
    cursor: pointer;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 120px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.171);

    transition: box-shadow 300ms;
}

.most-recent{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    margin-bottom: 10px;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.box{
    width: 100px;
    height: 100px;

    border-radius: 10px;
}