<div [style.background-color]="corFundo" class="login-example">
    <div class="title-login-container">
        <div [style.background-color]=corDestaque draggable="true" class="title-login">
            <p>Your Brand</p>
        </div>
    </div>
    <div [style.background-color]=corDestaque class="login">
        
        <div class="login-account">
            <p>Login to Your Account</p>
        </div>
        
      
        <div class="input-login">
            <p>Email</p>
        </div>
        
        <div class="input-login">
            <p>Password</p>
        </div>

       <div class="forgot-password">
        <p>I forgot my password</p>
       </div>

       <div class="keep-2">
            <p-checkbox></p-checkbox>
            <p>Keep me Sign</p>
       </div>
        
        <div [style.color]=corTexto [style.background-color]="corFundo" class="login-btn">
            <p>Login</p>
        </div>
        <div class="row-new-user">
            <div class="hr"></div>
            <p>New User?</p>
            <div class="hr"></div>
        </div>
        <div class="sign-btn">
            <p [style.color]=corDestaque>Sign In</p>
        </div>
    </div>  
</div>