.login-example{
    width: 100%;
    height: 100%;
    background-color: rgb(1, 62, 97);
    box-shadow: 0px 12px 15px 0px rgb(179, 179, 179);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title-login-container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-login:hover{
    background-color:rgba(153, 232, 252, 0.288);
    box-shadow: 0px 200px 30px -20px rgba(0, 0, 0, 0.13);    
    cursor: pointer;
    font-size: 50px;
    border-radius: 10%;
    height: 40%;
    width: 45%;
}


.title-login{
    font-family: 'Anton';
    background-color: rgba(136, 208, 226, 0.199);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.322);    
    color: white;
    height: 35%;
    width: 40%;
    font-size: 40px;
    font-weight: 500;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: border-radius 320ms, box-shadow 320ms, font-size 150ms, background-color 320ms, height 320ms, width 320ms;
}
.login{
    width: 35%;
    margin-right: 10%;
    height: 80%;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.322);    
    background-color: rgba(136, 208, 226, 0.534);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.login-account{
    margin-bottom: 2%;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 25px;
    color: white;
}


.input-login{
    width: 50%;
    height: 7%;
    background-color: white;
    color: rgba(0, 0, 0, 0.466);
    margin-top: 10px;
    border-radius: 12px;
    padding-left: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
}


.forgot-password:hover{
    cursor: pointer;
}
.forgot-password{
    margin-top: 3%;
    font-style: italic;
    color: white;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    width: 50%;
    display: flex;
    justify-content: end;

}


.keep-2{
    margin-top: 3%;
    
    width: 25%;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    color: white;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.login-btn:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.178); 
    background-color: #026aa7;
}
.login-btn{
    font-family: 'Montserrat';
    color: white;
    font-weight: bold;
    margin-top: 15px;
    width: 52%;
    height: 7%;
    background-color: #015586;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: box-shadow 320ms;
}

.row-new-user{
    margin: 5%;
    margin-top: 7%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-size: medium;
    font-weight: bold;
    color: white;
}

.hr{
    margin-left: 15px;
    margin-right: 15px;
    width: 20%;
    height: 1px;
    background-color: white;
}

.sign-btn:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.178); 
   
}
.sign-btn{
    font-family: 'Montserrat';
    color: #015586;
    font-weight: bold;
    margin-top: 15px;   
    width: 52%;
    height: 7%;
    background-color: #ffffff;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 320ms;
}

@media (max-width: 1750px) {
    .keep-2{
        width: 30%;
    }

    .row-new-user{
        width: 60%;
    }

    .title-login{
        font-size: 30px;
    }
}

@media (max-width: 1450px) {
    .keep-2{
        width: 35%;
    }
    .row-new-user{
        width: 65%;
        font-size: small;
    }

    .login-account{
        font-size: 22px;
    }

    .forgot-password{
        justify-content: center;
    }

    .title-login{
        font-size: 28px;
    }
}

@media (max-width: 1320px) {
    .keep-2{
        width:40%;
    }
    .row-new-user{
        width: 70%;
    }
}

@media (max-width: 1230px) {
    .keep-2{
        width: 45%;
    }
    
    .login-account{
        font-size: 20px;
    }
    
    .forgot-password{
        font-size: small;
    }

    .input-login{
        height: 5%;
        width: 65%;
    }

    .login-btn{
        height: 5%;
        width: 65%;
    }

    .sign-btn{
        height: 5%;
        width: 65%;
    }

    .title-login{
        font-size: 26px;
        height: 250px;
    }
}

@media (max-width: 1140px) {
    .keep-2{
        width: 40%;
    }
   
    .login-account{
        font-size: 18px;
    }

    .row-new-user{
        width: 72%;
        font-size: smaller;
    }

    .login-example{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        margin: 0px;
        padding: 0px;
    }

    .login{
        margin-right: 0px;
        height: 600px;
        width: 55%;
    }

    .title-login{
        display: none;
    }

    .title-login-container{
        display: none;
    }
}

@media (max-width: 1000px) {
    .keep-2{
        width: 35%;
    }
    .row-new-user{
        width: 90%;
    }

    .login-account{
        font-size: 18px;
    }

    .forgot-password{
        width: 80%;
    }
}

@media (max-width: 800px) {
    .keep-2{
        width: 40%;
        font-size: smaller;
    }

    .input-login{
        font-size: smaller;
    }

    .sign-btn{
        font-size: smaller;
    }

    .login-btn{
        font-size: smaller;
    }

    .hr{
        width: 15%;
    }
}

@media (max-width: 565px) {
    .keep-2{
        width: 70%;
        font-size: smaller;
    }
    
    .login-account{
        font-size: 14px;
    }

    .row-new-user{
        font-size: xx-small;
    }

    .hr{
        width: 10%;
    }

    .input-login{
        font-size: xx-small;
    }
    .login{
        width: 85%;
    }

    .login-example{
        min-width: 300px;
    }

    .login-btn{
        font-size: xx-small;
    }

    .sign-btn{
        font-size: xx-small;
    }
}
