<div [style.background-color]="corFundo" class="login-example">
    <div class="title-login-container">
        <div [style.background-color]=corDestaque draggable="true" class="title-login">
            <div>Your Brand</div>
        </div>
    </div>
    <div [style.background-color]=corDestaque class="login">
        
        <div class="login-account">
            <div>Login to Your Account</div>
        </div>
        
      
        <div class="input-login">
            <div>Email</div>
        </div>
        
        <div class="input-login">
            <div>Password</div>
        </div>

       <div class="forgot-password">
        <p>I forgot my password</p>
       </div>

       <div class="keep-2">
            <p-checkbox></p-checkbox>
            <div>Keep me Sign</div>
       </div>
        
        <div [style.color]=corTexto [style.background-color]="corFundo" class="login-btn">
            <div>Login</div>
        </div>
        <div class="row-new-user">
            <div class="hr"></div>
            <div>New User?</div>
            <div class="hr"></div>
        </div>
        <div class="sign-btn">
            <div [style.color]=corDestaque>Sign In</div>
        </div>
    </div>  
</div>