.home-content{
    background-color: transparent;
    height: 80%;
    width: 100%;
}

.label{
    font-weight: 600;
    font-family: "Montserrat";
    color: #353535;
}



.hidded{
    visibility: hidden;
    position: fixed;
}




.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    align-items: center;
    justify-content: space-around;
    height: 10%;
    padding-left: 5%;
    padding-right: 5%;
}





.box-selector{
    height: 10%;
    z-index: 99;
    color: black;
}


.navbar-example-container{
    width: 85%;
}

.login-contact-example-container{
    width: 85%;
    height: 60%;
}

.second-page{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    height: 250vh;
    width: 100%;

}

.divisor{
    height: 10%;
}





.slash{
    height: 50%;
    width: 15px;
}



.input{
    width: 80%;
}

.btn-search:hover{
    cursor: pointer;
}
.btn-search{
    border-radius: 10px;
    border: solid 1px rgba(255, 255, 255, 0.432);
    padding: 8px;
    font-family: "Montserrat";
    font-size: 12px;
}












.row-login{
    height: 18%;
    width: 73%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 15px;
    font-family: 'Montserrat';
    color: white;
    font-weight: 700;
    font-size: 18px;
}






.label-login{
    width: 73%;
    height: 40%;
    display: flex;
    align-items: start;
    justify-content: start;
}

.keep{
   width: 60%; 
}

.login-title{
    font-family: 'Anton';
    font-weight: 500;
    font-size: 35px;
    color: white;
    height: 5%;
}

.divisor-horizontal{
    width: 3%;
}

.row-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.showed-pallet:hover{
    cursor:pointer;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.164);
    width: 160px;
}
.showed-pallet{
    transition: box-shadow 200ms, width 200ms;
    height: 100px;
    color: white;
    font: 'Montserrat';
    font-weight: bold;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 1px;
    border: solid 1px white;
    border-radius: 5px;
}

.row-pallet{
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

.background-class{
    background-color: none;
}