.home-content{
    padding-left: 5vw;
    padding-right: 5vw;
    background-color: transparent;
    height: 80vh;
}

.label{
    font-weight: 600;
    font-family: "Montserrat";
    color: #353535;
}

#botao-return:hover{
    color: #242526;
    
}

#botao-return{
    color: rgb(245, 245, 245);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.btn:hover{
    cursor: pointer;
    background-color: rgb(245, 245, 245);
    color: #353535;
}

.btn{
    user-select: none;
    height: 50px;
    width: 120px;

    border-radius: 5px;
    background-color: #242526;
    font-weight: 600;
    font-family: "Montserrat";
    color: rgb(245, 245, 245);
    border: solid 0.5px rgb(245, 245, 245);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    z-index: 11;

    transition: background-color 350ms, color 350ms, border 350ms;
}
.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.column{
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.box:hover{
    cursor: pointer;
}
.box:focus{
    outline: none;
}

.box{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    box-shadow: none;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.13);

    transition: box-shadow 320ms;
}

.boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 50%;
}

.texto-paleta{
    margin-left: -30px;    
    color: rgb(245, 245, 245);
    font-weight: 600;
    font-size: 30px;
    font-family: "Montserrat";
}

.boxes-buttons{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    border-top: solid rgb(94, 94, 94) 1px;
    height: 70%;
    width: 100vw;
    background : linear-gradient(110deg, #242526 80%, #2f2f31 96%);
    margin-left: -6vw;
    padding-left: 6vw;
    /* position: fixed; */
    /* overflow: auto; */

}
.column-btn{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    padding-right: 20%;
}
.texto-botoes{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: rgb(245, 245, 245);
    font-weight: 600;
    font-size: 22px;
    font-family: "Montserrat";
}

.primary-box:focus{
    cursor: pointer;
    margin-top: -180px;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.13);
}
.primary-box:hover{
    margin-top: -180px;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.13);
}

.primary-box{
    background-color: #5c849b;
    border: none;
    z-index: 5;
    margin-top: -100px;
    transition: margin-top 350ms, box-shadow 350ms;
}

.secundary-box:focus{
    cursor: pointer;
    margin-top: -130px;
    margin-left: -50px;
    box-shadow: -15px 15px 15px 0px rgba(0, 0, 0, 0.13);
}
.secundary-box:hover{
    margin-top: -130px;
    margin-left: -50px;
    box-shadow: -15px 15px 15px 0px rgba(0, 0, 0, 0.13);
}

.secundary-box{
    background-color: #435b64;
    margin-left: -100px;
    margin-top: -50px;
    border: none;
    z-index: 4;
    transition: margin-top 350ms, margin-left 350ms, box-shadow 350ms;
}


.tertiary-box:focus{
    cursor: pointer;
    margin-left: -50px;
    box-shadow: -15px 8px 15px 0px rgba(0, 0, 0, 0.13);
}
.tertiary-box:hover{
    margin-left: -50px;
    box-shadow: -15px 8px 15px 0px rgba(0, 0, 0, 0.13);
}

.tertiary-box{
    background-color: #2a343d;
    margin-left: -150px;
    z-index: 3;
    border: none;
    transition: margin-left 350ms, box-shadow 350ms;
}

.dica{
    visibility: hidden;
    width: 120px;
    height: 30px;
    background-color: rgb(245, 245, 245);;
    border-radius: 8px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.144);

    color: rgb(53, 53, 53);
    font-weight: 600;
    font-size: small;
    font-family: "Montserrat";
    
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 10;
    left: 50px;
    position: fixed;
    top: 50px;
}

.second-page{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    height: 1500px;
    /* background-color: red; */
    width: 100vw;
}




.navbar-example{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-around;
    align-items: center;

    width: 80%;
    height: 5%;
    background-color: #242526;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    border-bottom: solid rgb(94, 94, 94) 1px;

}

.logo-example{
    color: white;
}
.slash{
    height: 50%;
    width: 15px;
    background-color: red;
}

.centered{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.input{
    width: 80%;
}

.btn-search:hover{
    cursor: pointer;
}
.btn-search{
    border-radius: 10px;
    border: solid 1px;
    padding: 5px;
    
}

.search{
    color: white ;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
    height: 50%;
    background-color: #404041;
    border-radius: 12px;
    border-bottom: solid 1px white;
}

.profile{
    width: 2.5%;
    height: 50%;
    border-radius: 20px;
    border: solid 1px white;
}