<div class="home-content">
    <div class="row">
        <p class="h2-class label">Choose your brand colors to generate the color scheme for your Website.</p>
    </div>
    <div class="row">
        <p class="label subtitle">You can choose up to two colors.</p>
    </div>

    <app-pallets></app-pallets>
    
</div>
<div [ngClass]="{'hidded' : !exempleGenerated, 'second-page' : exempleGenerated}">

    <div class="divisor"></div>

    <h2 class="label">View the generated examples below</h2>
    <img src="../../../../../assets/images/pointing.png" height="80px" style="opacity: 0.7;" alt="A Pointing down hand">


    <div class="divisor"></div>

    <div class="navbar-example-container">
        <app-navbar-example></app-navbar-example>
    </div>
    
    <div class="divisor"></div>

    <div class="login-contact-example-container">
        <app-login-example></app-login-example>
    </div>

    <div class="divisor"></div>

    <div class="login-contact-example-container">
        <app-contact-example></app-contact-example>
    </div>

    <div class="divisor"></div>


</div>