.boxes-buttons{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    border-top: solid rgb(94, 94, 94) 1px;
    height: 75%;
    width: 100%;
    background : linear-gradient(110deg, #242526 80%, #2f2f31 96%);
}

.boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 50%;
}


.box:hover{
    cursor: pointer;
}
.box:focus{
    outline: none;
}

.box{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    box-shadow: none;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.13);
    transition: box-shadow 320ms;
}


.primary-box:focus{
    cursor: pointer;
    margin-top: -120px;
    margin-left: 25px;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.13);
}
.primary-box:hover{
    margin-top: -120px;
    margin-left: 25px;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.13);
}

.primary-box{
    background-color: #5c849b;
    border: none;
    z-index: 5;
    margin-top: -50px;
    transform: rotate(85deg);

    transition: margin-left 350ms, margin-top 350ms, box-shadow 350ms;
}

.secundary-box:focus{
    cursor: pointer;
    margin-top: -120px;
    margin-left: -50px;
    box-shadow: -15px 15px 15px 0px rgba(0, 0, 0, 0.13);
}
.secundary-box:hover{
    margin-top: -120px;
    margin-left: -50px;
    box-shadow: -15px 15px 15px 0px rgba(0, 0, 0, 0.13);
}

.secundary-box{
    background-color: #2a343d;
    margin-left: -100px;
    margin-top: -40px;
    border: none;
    z-index: 4;
    transform: rotate(95deg);

    transition: margin-top 350ms, margin-left 350ms, box-shadow 350ms;
}


.tertiary-box:focus{
    cursor: pointer;
    margin-left: -50px;
    box-shadow: -15px 8px 15px 0px rgba(0, 0, 0, 0.13);
}
.tertiary-box:hover{
    margin-left: -50px;
    box-shadow: -15px 8px 15px 0px rgba(0, 0, 0, 0.13);
}

.tertiary-box{
    background-color: #2a343d;
    margin-left: -150px;
    z-index: 3;
    border: none;
    transition: margin-left 350ms, box-shadow 350ms;
}

.column-btn{
    width: 40%;
    height: 50%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.texto-paleta{
    margin-left: -30px;    
    color: rgb(245, 245, 245);
    font-weight: 600;
    font-size: 27px;
    font-family: "Montserrat";
}

.divisor{
    height: 5%;
}

.texto-botoes{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: rgb(245, 245, 245);
    font-weight: 600;
    font-size: 22px;
    font-family: "Montserrat";
}

.row{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.dica{
    visibility: hidden;
    width: 120px;
    height: 30px;
    background-color: rgb(245, 245, 245);;
    border-radius: 8px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.144);

    color: rgb(53, 53, 53);
    font-weight: 600;
    font-size: small;
    font-family: "Montserrat";
    
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 10;
    left: 50px;
    position: fixed;
    top: 50px;
}

.btn:hover{
    cursor: pointer;
    background-color: rgb(245, 245, 245);
    color: #353535;
}

.btn{
    user-select: none;
    height: 50px;
    width: 120px;

    border-radius: 5px;
    background-color: #242526;
    font-weight: 600;
    font-family: "Montserrat";
    color: rgb(245, 245, 245);
    border: solid 0.5px rgb(245, 245, 245);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    z-index: 11;

    transition: background-color 350ms, color 350ms, border 350ms;
}

#botao-return:hover{
    color: #242526; 
}

#botao-return{
    color: rgb(245, 245, 245);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1600px){
    .texto-paleta{
        font-size: 25px;
    }

    .texto-botoes{
        margin-top: 25px;
        font-size: 18px;
    }
    .btn{
        width: 100px;
        height: 40px;
    }

}

@media (max-width: 1500px){
    .box{
        width: 250px;
        height: 250px;
    }
    .row{
        width: 50%;
    }
}

@media (max-width: 1250px) {
    .box{
        width: 200px;
        height: 200px;
    }
    .texto-paleta{
        font-size: 22px;
    }

    .texto-botoes{
        margin-top: 25px;
        font-size: 15px;
    }
    .btn{
        width: 80px;
        height: 35px;
    }
    .row{
        width: 60%;
    }
}

@media (max-width: 850px) {
    .texto-paleta{
        font-size: 17px;
    }
}

@media (max-width: 750px){
    .primary-box:focus{
        margin-top: 0px;
        margin-left: 0px;
    }
    .primary-box:hover{
        margin-top: 0px;
        margin-left: 0px;
    }

    .primary-box{
        margin-top: 0px;
        margin-left: 0px;
        transform: rotate(0deg);

    }
    .secundary-box:focus{
        margin-top: 0px;
        margin-left: 0px;
    }

    .secundary-box:hover{
        margin-top: 0px;
        margin-left: 0px;
    }
    .secundary-box{
        margin-top: 0px;
        margin-left: 0px;
        transform: rotate(0deg);

    }
    .box{
        height: 30%;
        width:50%;
    }

    .boxes{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 100%;
        width: 50%;
    }
    .texto-paleta{
        width: 100%;
    }
}

@media (max-width: 520px) {
    .texto-paleta{
        font-size: 15px;
    }
    .texto-botoes{
        font-size: 13px;
    }
    .boxes-buttons{
        min-width: 320px;
    }
}