<div class="boxes-buttons">
        
    <div class="boxes">
        <input id="primary-box" readonly class="box primary-box" [(colorPicker)]="homeService.primaryColor" [style.background]="homeService.primaryColor"/>
        <!-- <p-colorPicker id="primary-box" class="box primary-box" [(ngModel)]="homeService.primaryColor"> -->
        <!-- </p-colorPicker> -->
        <br>
        <input id="secundary-box" readonly class="box secundary-box" [(colorPicker)]="homeService.secundaryColor" [style.background]="homeService.secundaryColor"/>
        <br>
        <!-- <input id="tertiary-box" readonly class="box tertiary-box" [(colorPicker)]="homeService.tertiaryColor" [style.background]="homeService.tertiaryColor"/> -->

    </div>
    <div class="column-btn">
        <div class="texto-paleta">
            Click on the palette to change its color.</div>
        <div class="texto-botoes">
            <p>You can take unlimited tests!</p>
        </div>
        <div class="divisor"></div>
        <div class="row">
            <div class="btn" style="width: 80px;" (click)="resetarCor()"><i class="pi pi-sync" id="botao-return"></i></div>
            <div class="btn" (click)="alterarCor()">Try</div>
        </div>
    </div>
</div>

<div class="dica" id="dica">{{this.corPosicionada}}</div>